<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Gestor de Centros academicos</display-name>
  	<servlet>
        <servlet-name>ControlAccesoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.seguridad.ControlAccesoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaInteresadosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BusquedaInteresadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpLisAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpLisAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaNuevoInteresadoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.AltaNuevoInteresadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaNuevaEmpresaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.AltaNuevaEmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaAltaEmpresasServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.CargaAltaEmpresasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarSeguimientoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.GuardarSeguimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarSeguimientoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BorrarSeguimientoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarInteresadoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.EditarInteresadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarAlumnoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BorrarAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DarAltaCursoInteresAlumnoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.DarAltaCursoInteresAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DarBajaCursoInteresAlumnoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.DarBajaCursoInteresAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAulaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.AltaAulaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAulaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.EditarAulaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaAlumnosTipoCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BuscaAlumnosTipoCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impVisAluTipoCurServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.impVisAluTipoCurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaAlumnosCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BuscaAlumnosCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impVisAluCurServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.impVisAluCurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCursosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaCursosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaNivelServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaNivelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModNivelServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.ModNivelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaNivelServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BajaNivelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.EditarCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEdicionServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaEdicionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdiEdicionServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.EdiEdicionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboEmpresaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboEmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraDatosCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.MuestraDatosCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboNivelFormativoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboNivelFormativoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboTipoDocumentoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboTipoDocumentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboProvinciasServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboProvinciasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaTipoCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaTipoCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboCursosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboCursosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboNivelesServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboNivelesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboCentrosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboCentrosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarComboAulaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargarComboAulaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboAreaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaModuloServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarModuloServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.EditarModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaModuloServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BajaModuloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboEdicionesDispServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboEdicionesDispServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatricularAlumnoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.MatricularAlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bajaMatriculaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.bajaMatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpImpresoMatServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpImpresoMatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraDatosEdicionServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.MuestraDatosEdicionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResumenEdicionesServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.ResumenEdicionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHistMatServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpHistMatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaTipoCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaTipoCursoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.EditaTipoCursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAreaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.AltaAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaAreaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.EditaAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaProfesorServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.profesores.AltaProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAreaProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.profesores.AltaAreaProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaAreaProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.profesores.BajaAreaProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.profesores.BusProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpLisProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpLisProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProfesorServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.profesores.EditarProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboActividadesServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboActividadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdicionEmpresaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.EdicionEmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusEmpServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.BusEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarSegEmpServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.GuardarSegEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarSegEmpServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.empresas.BorrarSegEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpRecAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpRecAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BancosDAO</servlet-name>
        <servlet-class>es.jahernandez.accesodatos.BancosDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impRecPenAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.impRecPenAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>impRecGenServler</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.impRecGenServler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirReciboMesAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImprimirReciboMesAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarComboAlumnosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargarComboAlumnosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpHistRecServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpHistRecServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboRecPenAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboRecPenAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MuestraDatosReciboServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.MuestraDatosReciboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LiquidarReciboServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.LiquidarReciboServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaEdicionServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BajaEdicionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpListFIPServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpListFIPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpListFPOServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpListFPOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpContMatServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpContMatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpListPropServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpListPropServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpSegAlumServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpSegAlumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpAluBajServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpAluBajServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboModEdiServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboModEdiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboProfesoresArea</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboProfesoresArea</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>AltaModEdi</servlet-name>
        <servlet-class>AltaModEdi</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>AltaModEdiServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaModEdiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarModEdiServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BorrarModEdiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCursosProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpCursosProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubirArchivoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.SubirArchivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarMensajeServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.mensajeria.enviarMensajeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaUserServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.seguridad.AltaUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdiUserServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.seguridad.EdiUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaUserServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.seguridad.BajaUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCertificadosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpCertificadosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCentroServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.AltaCentroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaCentroServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.EditaCentroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.seguridad.CerrarSesionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaAdapCurServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.AltaAdapCurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModAdapCurServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.ModAdapCurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaAdapCurServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.BajaAdapCurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboTipoTrastornosServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboTipoTrastornosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTrastornoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.AltaTrastornoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarTrastornoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.EditarTrastornoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaTrastornoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.datosauxiliares.BajaTrastornoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTipoTrastornoServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.AltaTipoTrastornoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditaTipoTrastServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.EditaTipoTrastServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboProfesoresServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboProfesoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaClaseIndServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.AltaClaseIndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModClaseIndServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.ModClaseIndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaClaseIndServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.alumnos.BajaClaseIndServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpRecClasesIndivAlu</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpRecClasesIndivAlu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpRecMenClasInd</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpRecMenClasInd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpClasesIndProfServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpClasesIndProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboModulosEdiCalifServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboModulosEdiCalifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaCalifServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaCalifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModCalifServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.ModCalifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BajaCalifServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BajaCalifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaComboMatriculasAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.auxiliares.CargaComboMatriculasAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCalificacionesEdiAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpCalificacionesEdiAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpCalificacionesEdiServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpCalificacionesEdiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaFaltaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.AltaFaltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModFaltaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.ModFaltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarFaltaServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.cursos.BorrarFaltaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpFaltasEdiAluServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpFaltasEdiAluServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImpFaltasEdiServlet</servlet-name>
        <servlet-class>es.jahernandez.servlets.impresos.ImpFaltasEdiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlAccesoServlet</servlet-name>
        <url-pattern>/ControlAccesoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaInteresadosServlet</servlet-name>
        <url-pattern>/BusquedaInteresadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpLisAluServlet</servlet-name>
        <url-pattern>/ImpLisAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaNuevoInteresadoServlet</servlet-name>
        <url-pattern>/AltaNuevoInteresadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaNuevaEmpresaServlet</servlet-name>
        <url-pattern>/AltaNuevaEmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaAltaEmpresasServlet</servlet-name>
        <url-pattern>/CargaAltaEmpresasServlet</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>GuardarSeguimientoServlet</servlet-name>
        <url-pattern>/GuardarSeguimientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarSeguimientoServlet</servlet-name>
        <url-pattern>/BorrarSeguimientoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarInteresadoServlet</servlet-name>
        <url-pattern>/EditarInteresadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarAlumnoServlet</servlet-name>
        <url-pattern>/BorrarAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarAltaCursoInteresAlumnoServlet</servlet-name>
        <url-pattern>/DarAltaCursoInteresAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DarBajaCursoInteresAlumnoServlet</servlet-name>
        <url-pattern>/DarBajaCursoInteresAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAulaServlet</servlet-name>
        <url-pattern>/AltaAulaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAulaServlet</servlet-name>
        <url-pattern>/EditarAulaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaAlumnosTipoCursoServlet</servlet-name>
        <url-pattern>/BuscaAlumnosTipoCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impVisAluTipoCurServlet</servlet-name>
        <url-pattern>/impVisAluTipoCurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaAlumnosCursoServlet</servlet-name>
        <url-pattern>/BuscaAlumnosCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impVisAluCurServlet</servlet-name>
        <url-pattern>/impVisAluCurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCursosServlet</servlet-name>
        <url-pattern>/AltaCursosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaNivelServlet</servlet-name>
        <url-pattern>/AltaNivelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModNivelServlet</servlet-name>
        <url-pattern>/ModNivelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaNivelServlet</servlet-name>
        <url-pattern>/BajaNivelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCursoServlet</servlet-name>
        <url-pattern>/EditarCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEdicionServlet</servlet-name>
        <url-pattern>/AltaEdicionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdiEdicionServlet</servlet-name>
        <url-pattern>/EdiEdicionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboEmpresaServlet</servlet-name>
        <url-pattern>/CargaComboEmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraDatosCursoServlet</servlet-name>
        <url-pattern>/MuestraDatosCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboNivelFormativoServlet</servlet-name>
        <url-pattern>/CargaComboNivelFormativoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboTipoDocumentoServlet</servlet-name>
        <url-pattern>/CargaComboTipoDocumentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboProvinciasServlet</servlet-name>
        <url-pattern>/CargaComboProvinciasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaTipoCursoServlet</servlet-name>
        <url-pattern>/CargaTipoCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboCursosServlet</servlet-name>
        <url-pattern>/CargaComboCursosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboNivelesServlet</servlet-name>
        <url-pattern>/CargaComboNivelesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboCentrosServlet</servlet-name>
        <url-pattern>/CargaComboCentrosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarComboAulaServlet</servlet-name>
        <url-pattern>/CargarComboAulaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboAreaServlet</servlet-name>
        <url-pattern>/CargaComboAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaModuloServlet</servlet-name>
        <url-pattern>/AltaModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarModuloServlet</servlet-name>
        <url-pattern>/EditarModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaModuloServlet</servlet-name>
        <url-pattern>/BajaModuloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboEdicionesDispServlet</servlet-name>
        <url-pattern>/CargaComboEdicionesDispServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatricularAlumnoServlet</servlet-name>
        <url-pattern>/MatricularAlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bajaMatriculaServlet</servlet-name>
        <url-pattern>/bajaMatriculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpImpresoMatServlet</servlet-name>
        <url-pattern>/ImpImpresoMatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraDatosEdicionServlet</servlet-name>
        <url-pattern>/MuestraDatosEdicionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResumenEdicionesServlet</servlet-name>
        <url-pattern>/ResumenEdicionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHistMatServlet</servlet-name>
        <url-pattern>/ImpHistMatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoCursoServlet</servlet-name>
        <url-pattern>/AltaTipoCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaTipoCursoServlet</servlet-name>
        <url-pattern>/EditaTipoCursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAreaServlet</servlet-name>
        <url-pattern>/AltaAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaAreaServlet</servlet-name>
        <url-pattern>/EditaAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaProfesorServlet</servlet-name>
        <url-pattern>/AltaProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAreaProfServlet</servlet-name>
        <url-pattern>/AltaAreaProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaAreaProfServlet</servlet-name>
        <url-pattern>/BajaAreaProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusProfServlet</servlet-name>
        <url-pattern>/BusProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpLisProfServlet</servlet-name>
        <url-pattern>/ImpLisProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProfesorServlet</servlet-name>
        <url-pattern>/EditarProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboActividadesServlet</servlet-name>
        <url-pattern>/CargaComboActividadesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdicionEmpresaServlet</servlet-name>
        <url-pattern>/EdicionEmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusEmpServlet</servlet-name>
        <url-pattern>/BusEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarSegEmpServlet</servlet-name>
        <url-pattern>/GuardarSegEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarSegEmpServlet</servlet-name>
        <url-pattern>/BorrarSegEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpRecAluServlet</servlet-name>
        <url-pattern>/ImpRecAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BancosDAO</servlet-name>
        <url-pattern>/BancosDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impRecPenAluServlet</servlet-name>
        <url-pattern>/impRecPenAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>impRecGenServler</servlet-name>
        <url-pattern>/impRecGenServler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirReciboMesAluServlet</servlet-name>
        <url-pattern>/ImprimirReciboMesAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarComboAlumnosServlet</servlet-name>
        <url-pattern>/CargarComboAlumnosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpHistRecServlet</servlet-name>
        <url-pattern>/ImpHistRecServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboRecPenAluServlet</servlet-name>
        <url-pattern>/CargaComboRecPenAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MuestraDatosReciboServlet</servlet-name>
        <url-pattern>/MuestraDatosReciboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LiquidarReciboServlet</servlet-name>
        <url-pattern>/LiquidarReciboServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaEdicionServlet</servlet-name>
        <url-pattern>/BajaEdicionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpListFIPServlet</servlet-name>
        <url-pattern>/ImpListFIPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpListFPOServlet</servlet-name>
        <url-pattern>/ImpListFPOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpContMatServlet</servlet-name>
        <url-pattern>/ImpContMatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpListPropServlet</servlet-name>
        <url-pattern>/ImpListPropServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpSegAlumServlet</servlet-name>
        <url-pattern>/ImpSegAlumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpAluBajServlet</servlet-name>
        <url-pattern>/ImpAluBajServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboModEdiServlet</servlet-name>
        <url-pattern>/CargaComboModEdiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboProfesoresArea</servlet-name>
        <url-pattern>/CargaComboProfesoresArea</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>AltaModEdi</servlet-name>
        <url-pattern>/AltaModEdi</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>AltaModEdiServlet</servlet-name>
        <url-pattern>/AltaModEdiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarModEdiServlet</servlet-name>
        <url-pattern>/BorrarModEdiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCursosProfServlet</servlet-name>
        <url-pattern>/ImpCursosProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirArchivoServlet</servlet-name>
        <url-pattern>/SubirArchivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarMensajeServlet</servlet-name>
        <url-pattern>/enviarMensajeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaUserServlet</servlet-name>
        <url-pattern>/AltaUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdiUserServlet</servlet-name>
        <url-pattern>/EdiUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaUserServlet</servlet-name>
        <url-pattern>/BajaUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCertificadosServlet</servlet-name>
        <url-pattern>/ImpCertificadosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCentroServlet</servlet-name>
        <url-pattern>/AltaCentroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaCentroServlet</servlet-name>
        <url-pattern>/EditaCentroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesionServlet</servlet-name>
        <url-pattern>/CerrarSesionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaAdapCurServlet</servlet-name>
        <url-pattern>/AltaAdapCurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModAdapCurServlet</servlet-name>
        <url-pattern>/ModAdapCurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaAdapCurServlet</servlet-name>
        <url-pattern>/BajaAdapCurServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboTipoTrastornosServlet</servlet-name>
        <url-pattern>/CargaComboTipoTrastornosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTrastornoServlet</servlet-name>
        <url-pattern>/AltaTrastornoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarTrastornoServlet</servlet-name>
        <url-pattern>/EditarTrastornoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaTrastornoServlet</servlet-name>
        <url-pattern>/BajaTrastornoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTipoTrastornoServlet</servlet-name>
        <url-pattern>/AltaTipoTrastornoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditaTipoTrastServlet</servlet-name>
        <url-pattern>/EditaTipoTrastServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboProfesoresServlet</servlet-name>
        <url-pattern>/CargaComboProfesoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaClaseIndServlet</servlet-name>
        <url-pattern>/AltaClaseIndServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModClaseIndServlet</servlet-name>
        <url-pattern>/ModClaseIndServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaClaseIndServlet</servlet-name>
        <url-pattern>/BajaClaseIndServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpRecClasesIndivAlu</servlet-name>
        <url-pattern>/ImpRecClasesIndivAlu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpRecMenClasInd</servlet-name>
        <url-pattern>/ImpRecMenClasInd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpClasesIndProfServlet</servlet-name>
        <url-pattern>/ImpClasesIndProfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboModulosEdiCalifServlet</servlet-name>
        <url-pattern>/CargaComboModulosEdiCalifServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaCalifServlet</servlet-name>
        <url-pattern>/AltaCalifServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModCalifServlet</servlet-name>
        <url-pattern>/ModCalifServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BajaCalifServlet</servlet-name>
        <url-pattern>/BajaCalifServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaComboMatriculasAluServlet</servlet-name>
        <url-pattern>/CargaComboMatriculasAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCalificacionesEdiAluServlet</servlet-name>
        <url-pattern>/ImpCalificacionesEdiAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpCalificacionesEdiServlet</servlet-name>
        <url-pattern>/ImpCalificacionesEdiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaFaltaServlet</servlet-name>
        <url-pattern>/AltaFaltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModFaltaServlet</servlet-name>
        <url-pattern>/ModFaltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarFaltaServlet</servlet-name>
        <url-pattern>/BorrarFaltaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpFaltasEdiAluServlet</servlet-name>
        <url-pattern>/ImpFaltasEdiAluServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImpFaltasEdiServlet</servlet-name>
        <url-pattern>/ImpFaltasEdiServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>loginAp.jsp</welcome-file>
    </welcome-file-list>
</web-app>